In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import random

# 0713

## Q1. 남녀 파트너 정해주기 프로그램(zip 함수) 
- 같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

In [4]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

In [5]:
random.shuffle(male)
random.shuffle(female)

for i in zip(male, female):
    print(i)

('갑돌', '줄리엣')
('철수', '성춘향')
('로미오', '갑순')
('온돌', '미미')
('이몽룡', '평강')

## Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요.
- input 함수, 중복x
- 1~45, 당첨번호 6개 + 보너스 번호 1개
- 당첨번호는 정렬 되어 있음

In [6]:
def print_win_nums():
    nums = list(range(1, 46))

    wins = random.sample(nums, k=7)

    win_nums = wins[:-1]
    win_nums.sort()

    bonus_num = wins[-1]

    for i in win_nums:
        print(i, end='  ')
    print(f"+ {bonus_num}")

input_num = int(input("숫자를 입력하세요.>"))
print()
for i in range(input_num):
    print_win_nums()

숫자를 입력하세요.>2

7  11  14  19  22  33  + 29
4  13  22  27  30  32  + 36

## (optional) Q3. 발표자 추첨
- 발표자를 윈하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [7]:
cakd7 = ['변서연', '한지웅', '양주희', '이호원', '정지은', 
         '이정현A', '이명진', '이상윤', '조승현', '강유한',
        '김영선', '최애림', '김민섭', '박혜린', '이정현B',
        '윤정준', '김진형', '정승기', '진청아', '신창훈',
        '김병석', '박세희', '김현지', '김덕현', '박영권']

In [8]:
input_num = int(input("필요한 발표자 수를 입력하세요.>"))
print(random.sample(cakd7, k=input_num))

필요한 발표자 수를 입력하세요.>2
['양주희', '이상윤']

# 0714

In [9]:
import re

## Q3. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. abc->bca

In [10]:
input_str = input("문자열을 입력하세요.>")
print(input_str[1:]+input_str[0])

문자열을 입력하세요.>2
2

## Q4. url에서 호스트 도메인을 추출하여 출력하세요.
- url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
- news.naver.com 출력

In [11]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [12]:
p = re.compile('https*://([a-z|A-Z|.]+)/')
m = p.match(url)
m.group(1)

'news.naver.com'

 - split 사용

In [13]:
tmp = url.split('/')
tmp[2]

'news.naver.com'

# 0715

## Q5 url에서 쿼리문을 추출하여 출력하세요.

In [14]:
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 
# 구분되어 나열된다.

In [15]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [16]:
str_varval = url.split('?')[1].split('&')

In [17]:
for s in str_varval:
    vv = s.split('=')
    print(f'var = {vv[0]}, val = {vv[1]}')

var = mode, val = LSD
var = mid, val = shm
var = sid1, val = 105
var = oid, val = 028
var = aid, val = 0002334601

## Q6 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남
- :
- :

- how many tears

In [18]:
with open('./dataset/mydata.txt', 'r') as fr:
    lines = fr.readlines()

text = ''.join(lines)

letters = set(text)

import re

list_fl = []
for l in letters:
    fa = re.findall(l, text)
    list_fl.append((len(fa), l))
list_fl.sort(reverse=True)

for f, l in list_fl:
    print(f'[{l}] -> [{f}]회 나타남')

[ ] -> [177]회 나타남
[e] -> [97]회 나타남
[t] -> [85]회 나타남
[a] -> [78]회 나타남
[o] -> [73]회 나타남
[s] -> [60]회 나타남
[n] -> [60]회 나타남
[r] -> [54]회 나타남
[i] -> [50]회 나타남
[h] -> [48]회 나타남
[
] -> [43]회 나타남
[l] -> [34]회 나타남
[u] -> [27]회 나타남
[d] -> [24]회 나타남
[c] -> [23]회 나타남
[w] -> [20]회 나타남
[m] -> [20]회 나타남
[f] -> [17]회 나타남
[y] -> [15]회 나타남
[p] -> [15]회 나타남
[b] -> [13]회 나타남
[g] -> [11]회 나타남
[v] -> [9]회 나타남
['] -> [8]회 나타남
[k] -> [7]회 나타남
[!] -> [2]회 나타남

# 0718

## Q7 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요.(0을 입력한 경우 다시 입력하도록 조치)

In [19]:
# Cal4 클래스를 만들어서 작성

In [20]:
class Cal4:
    
    def add_two_num(self):
        num1 = float(input("첫번째 숫자를 입력하세요.> "))
        while num1 == 0.0:
            num1 = float(input("0이 아닌 숫자를 입력하세요.> "))
            
        num2 = float(input("두번째 숫자를 입력하세요.> "))
        while num2 == 0.0:
            num2 = float(input("0이 아닌 숫자를 입력하세요.> "))
            
        return num1 + num2

In [21]:
c = Cal4()

In [22]:
c.add_two_num()

첫번째 숫자를 입력하세요.> 222
두번째 숫자를 입력하세요.> 22

244.0

## Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력가격에 원이 추가되도록 출력하세요.

In [23]:
class Order: 
    
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
        
    def order(self, price): 
        self.customer += price 
        return self.customer

In [24]:
class ExtraOrder(Order):
    
    def order(self, price):
        self.customer += price
        return f'{self.customer} 원'

In [25]:
order = Order('kevin')
print(order.order(1000))

1000

In [26]:
eOrder = ExtraOrder('kevin')
print(eOrder.order(1000))

1000 원

## Q9. 업무미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.
안녕하세요. Kevin님, 업무미팅은 2시입니다.

In [27]:
from datetime import datetime

In [28]:
class AutoEmail:

    def __init__(self, name):
        self.name = name

    def remind(self):
        print(f'안녕하세요. {self.name}님, 업무미팅은 2시입니다.')

In [29]:
email = AutoEmail('kevin')

In [30]:
email.remind()

안녕하세요. kevin님, 업무미팅은 2시입니다.

# 0719

In [31]:
import re

## Q10 정규표현식을 사용하여 text에서 전화번호만 출력하세요.

In [32]:
text ="문의 사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [33]:
p = re.compile('\d+[-]\d+[-]\d+')
srch = p.search(text)
print(srch.group())

032-232-3245

In [34]:
p = re.compile('(\d{3})[-](\d{3})[-](\d{4})')
srch = p.search(text)
print(srch.group())

032-232-3245

## Q11 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요.
text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"
에러 어쩌구 만 출력

In [35]:
text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

In [36]:
p = re.compile('에러\s*\w+')
fa = p.findall(text)
print(fa)

['에러 1122', '에러 1033', '에러 xxx']

In [37]:
p = '(?<=에러)\s?\w+'
fa = re.findall(p, text)
print(fa)

[' 1122', ' 1033', ' xxx']

## Q12 정규표현식을 사용하여 text에서 지역코드만 출력하세요.

In [38]:
text ="문의 사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [39]:
p = re.compile('(\d+)[-](\d+)[-](\d+)')
srch = p.search(text)
print(srch.group(1))

032

## Q13 정규표현식을 사용하여 text에서 지역코드를 제외한 번호만 출력하세요.

In [40]:
text ="문의 사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [41]:
p = re.compile('(\d+)[-](\d+[-]\d+)')
srch = p.search(text)
print(srch.group(2))

232-3245

## Q14 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [42]:
str1 = 'abcdefghij'

In [43]:
p = re.compile('(([a-d]+)(e)([f-i]+))([j])')
srch = p.search(str1)
print(srch.group(1)) 
print(srch.group(3))

abcdefghi
e

## Q15 위 문제 모든 서브그룹 문자열을 튜플로 출력

In [44]:
print(srch.groups())

('abcdefghi', 'abcd', 'e', 'fghi', 'j')

# 0720

## Q16 이름으로 그룹을 참조하여 'Lots of punctuation 에서 Lots를 출력하세요.

- 그룹에 이름을 붙여서~~

In [45]:
text = 'Lots of punctuation'

In [46]:
p = re.compile('(?P<name1>\w+)\s(?P<name2>\w+)\s(?P<name3>\w+)')

In [47]:
srch = p.search(text)
print(srch.group('name1'))

Lots

## Q17 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

In [48]:
text = 'Paris is very very beautiful.'

In [49]:
p = re.compile('\w+\s+\w+')
fa = p.findall(text)
print(fa[1])

very very

## Q18 정규표현식을 작성하여 아래와 같이 출력하세요.

- ['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [50]:
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile('\d+\s\w+')
list_ = regex.findall(li)
print(list_)

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

## Q19. text에서 'H, h'만 출력하세요.

In [51]:
text = 'Hello my friend! Life is short you need Python!'

spl_text = text.split(" ")
print(spl_text[0][0], ', ', spl_text[5][1])

H ,  h

## Q20. text에서 'H, h'가 아닌 것 모두를 출력하세요.

In [52]:
text = 'Hello my friend! Life is short you need Python!'

tmp1 = text.replace('H', '')
tmp2 = tmp1.replace('h', '')
print(tmp2)

ello my friend! Life is sort you need Pyton!

# 0721

## Q21. 'we are going home'에서 home만 출력하세요.

In [53]:
text = 'we are going home'

print(text.split(' ')[3])

home

## Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

In [54]:
text = '199305, 1923A, a93247'
print(text.split(', ')[0])

199305

## Q23. '12345abc'에서 'abc'만 출력하세요.

In [55]:
import re
srch = re.search('\D+', '12345abc')
print(srch.group())

abc

## Q24. '12345abc'에서 a만 출력

In [56]:
srch = re.search('\D+', '12345abc')
print(srch.group()[0])

a

## Q25. 'abc12345Abc' 에서 A만 출력?

In [66]:
srch = re.search('\D+$', 'abc12345Abc')
print(srch.group()[0])

A

# 0722 
- 정규식으로

In [2]:
import re

## Q26. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

In [5]:
srch = re.search('[a-z]+', 'Banker')
print(srch.group())

anker

In [6]:
srch = re.search('[a-z]+', 'banker123')
print(srch.group())

banker

## Q27. 'KOREA 대한민국'에서 '대'만 출력하세요.

In [7]:
srch = re.search('[가-힣]', 'KOREA 대한민국')
print(srch.group())

대

## Q28. text 에서 'aaaaBBBcccDDDeee'을 모두 출력하세요.

In [8]:
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'

In [9]:
srch = re.search('a{4}B{3}c{3}D{3}e{3}', text)
srch.group()

'aaaaBBBcccDDDeee'


## Q29. 아래의 경우에서 \<html>만 출력하세요

In [16]:
# greedy
pattern = re.compile('<.*>')
text = '<html><head><title>Title</title></head><body></body></html>'

print(len(text))
s = pattern.search(text)
print(s.group())

59
<html><head><title>Title</title></head><body></body></html>

In [17]:
# lazy
pattern = re.compile('<.*?>')
text = '<html><head><title>Title</title></head><body></body></html>'

print(len(text))
s = pattern.search(text)
print(s.group())

59
<html>

## Q30. '1234a1234' 에서 '1', '2', '3', '4'를 모두 출력하세요

In [20]:
print(re.findall('\d', '1234a1234'))

['1', '2', '3', '4', '1', '2', '3', '4']

In [21]:
print(set(re.findall('\d', '1234a1234')))

{'1', '4', '3', '2'}