In [2]:
import re
import numpy as np
import random
from numpy.random import randint as rri

In [3]:
import warnings
warnings.filterwarnings('ignore')

이거 쓰면 길게 안나온다고 함

In [4]:
#dep_arr = [(0515, 0749), (0945,1252), (1200, 1441), (1604, 1920), (2050, 2358)]
# 얘는 time/datetime 객체로 바꾸면 좋을듯 #시, 분을 나눠야 함

## 사용 모듈

### re

```
 - 패턴 객체를 list에 넣어서 for 문 돌리기
 - 띄어쓰기 포함 미포함
 - match, search, findall, finditer의 반환값 확인
 - match객체의 함수 확인
```

In [5]:
s = 'dhjsfsdfiorrrasbieurfharrbbswrrr'
p = re.compile('[r]+')

In [6]:
fi = p.finditer(s)
li_fi = list(fi)
for i in li_fi:
    print(i)
    print(type(i), i.span(), i.group())

<re.Match object; span=(10, 13), match='rrr'>
<class 're.Match'> (10, 13) rrr
<re.Match object; span=(19, 20), match='r'>
<class 're.Match'> (19, 20) r
<re.Match object; span=(23, 25), match='rr'>
<class 're.Match'> (23, 25) rr
<re.Match object; span=(29, 32), match='rrr'>
<class 're.Match'> (29, 32) rrr

In [7]:
test_fi = p.finditer(s)
for m in test_fi:
    print(m)
print()
for m in test_fi:
    print(m)

<re.Match object; span=(10, 13), match='rrr'>
<re.Match object; span=(19, 20), match='r'>
<re.Match object; span=(23, 25), match='rr'>
<re.Match object; span=(29, 32), match='rrr'>

In [8]:
test_fa = p.findall(s)
test_fa, type(test_fa)

(['rrr', 'r', 'rr', 'rrr'], list)

### str

```
 - 문자열 찾고 index 반환하기 기능 확인, 없으면 만들고
```

In [9]:
s = "아버지가 방에 들어 가신다."

In [10]:
s.find("가")

3

In [11]:
s[4:].find("가")

7

In [12]:
s[7+4+1:].find("가")

-1

만약 관련 함수를 만든다면 index가 OutOfRange일때나 find 값이 음수 나올때 확인하면 될듯.

### date/ time

In [13]:
from datetime import datetime, date, time, timedelta

In [14]:
d = datetime(2022, 7, 30)
d

datetime.datetime(2022, 7, 30, 0, 0)

In [15]:
td = timedelta(2)
td

datetime.timedelta(days=2)

In [16]:
d + td

datetime.datetime(2022, 8, 1, 0, 0)

In [17]:
t1 = time(7,51)
t1

datetime.time(7, 51)

In [18]:
t2 = time(8,3)
t2

datetime.time(8, 3)

In [19]:
t2 < t1

False

In [20]:
d.year, d.month, d.day, d.hour, d.minute, d.second

(2022, 7, 30, 0, 0, 0)

In [21]:
td.days, td.seconds, td.microseconds, td.total_seconds()

(2, 0, 0, 172800.0)

In [22]:
t1.hour, t1.minute, t1.second

(7, 51, 0)

In [23]:
d.strftime('%Y/%m/%d')

'2022/07/30'

In [24]:
t1.strftime('%H:%M')

'07:51'

In [25]:
d_test = date(2022, 5, 3)
d_test

datetime.date(2022, 5, 3)

In [26]:
d_test.year, d_test.month, d_test.day

(2022, 5, 3)

In [27]:
d_test.strftime('%Y-%m-%d')

'2022-05-03'

In [28]:
t2, t1

(datetime.time(8, 3), datetime.time(7, 51))

In [29]:
datetime(d_test.year, d_test.month, d_test.day,
        t2.hour, t2.minute)

datetime.datetime(2022, 5, 3, 8, 3)

In [30]:
dt = date(2022, 2, 3)
dt

datetime.date(2022, 2, 3)

In [31]:
td

datetime.timedelta(days=2)

In [32]:
dt-td*2

datetime.date(2022, 1, 30)

In [33]:
d.weekday()

5

In [34]:
dt.weekday()

3

In [35]:
datetime.now().date()

datetime.date(2022, 7, 4)

# list_station을 채운다.

In [63]:
import pandas as pd
trains = pd.read_csv('./dataset/time_table.CSV', encoding='CP949')
trains.head()

,시발역,종착역,열차번호,급행,광운대,청량리,회기,중랑,상봉,망우,...,대성리,청평,상천,가평,굴봉산,백양리,강촌,김유정,남춘천,춘천
0,평내호,춘천,K8001,,NaN,NaN,NaN,NaN,NaN,NaN,...,5:22:30,5:29:00,5:33:30,5:39:30,5:44:00,5:47:30,5:52:30,5:58:30,6:04:00,6:07:00
1,상봉,춘천,K8003,,NaN,NaN,NaN,NaN,5:10:00,5:12:00,...,5:46:30,5:53:00,5:57:30,6:03:30,6:08:00,6:11:30,6:16:30,6:22:30,6:28:00,6:31:00
2,상봉,춘천,K8005,,NaN,NaN,NaN,NaN,5:29:00,5:31:00,...,6:05:30,6:12:00,6:16:30,6:22:30,6:27:00,6:30:30,6:35:30,6:41:30,6:47:00,6:50:00
3,상봉,춘천,K8007,,NaN,NaN,NaN,NaN,5:47:00,5:49:00,...,6:23:30,6:30:00,6:34:30,6:40:30,6:45:00,6:48:30,6:53:30,6:59:30,7:05:00,7:08:00
4,상봉,춘천,K8009,,NaN,NaN,NaN,NaN,6:05:00,6:07:00,...,6:41:30,6:51:30,6:56:00,7:02:00,7:06:30,7:10:00,7:15:00,7:21:00,7:26:30,7:29:30

In [67]:
list_station = list(trains.columns)

In [68]:
list_station.remove('시발역')
list_station.remove('종착역')
list_station.remove('열차번호')
list_station.remove('급행')

In [70]:
for i in list_station:
    print(i, end = '/ ')

광운대/ 청량리/ 회기/ 중랑/ 상봉/ 망우/ 신내/ 갈매/ 별내/ 퇴계원/ 사릉/ 금곡/ 평내호/ 천마산/ 마석/ 대성리/ 청평/ 상천/ 가평/ 굴봉산/ 백양리/ 강촌/ 김유정/ 남춘천/ 춘천/

# 키워드 추출

## 인원수pp

In [37]:
li_int = [1, 2, 3, 4, 5, 6, 7, 8, 9]
count_kor = {'한':1, '두':2, '세':3, '네':4, '다섯':5, 
             '여섯':6, '일곱': 7, '여덟':8, '아홉': 9 }
li_kor = ['한', '두', '세', '네', '다섯', '여섯', '일곱', '여덟', '아홉']
key_pp = ['명', '사람']

### test_str_pp
- 테스트용 문자열을 만드는 함수 입니다.

In [38]:
def test_str_pp():
    if rri(2):
        s = str(li_int[rri(9)])
        if rri(2):
            s += ' '
        s += key_pp[0]
    else:
        s = li_kor[rri(9)]
        if rri(2):
            s += ' '
        s += key_pp[rri(2)]
    return s

In [39]:
for i in range(100):
    print(test_str_pp(), end = '/ ')

5명/ 6 명/ 4명/ 네 명/ 네명/ 1 명/ 5 명/ 네 명/ 6 명/ 일곱 명/ 한 명/ 4명/ 2 명/ 4명/ 1 명/ 5명/ 1명/ 3 명/ 두 명/ 7명/ 세 명/ 세 명/ 일곱사람/ 여섯 명/ 일곱명/ 두명/ 여덟명/ 6명/ 9명/ 한 명/ 6 명/ 6명/ 일곱 명/ 두명/ 여섯사람/ 다섯사람/ 5 명/ 7명/ 두명/ 6명/ 세 명/ 7 명/ 9 명/ 세사람/ 세사람/ 8 명/ 1 명/ 두명/ 세명/ 9명/ 1명/ 여덟명/ 9명/ 세 명/ 한사람/ 한사람/ 9명/ 3 명/ 6명/ 2명/ 두명/ 9 명/ 4명/ 4명/ 5명/ 9 명/ 4명/ 8 명/ 여덟사람/ 여섯명/ 일곱사람/ 2명/ 한사람/ 8 명/ 다섯 명/ 여섯 사람/ 다섯 사람/ 여덟 명/ 7 명/ 여섯명/ 5 명/ 세사람/ 네명/ 여섯사람/ 1 명/ 4명/ 1 명/ 여섯 명/ 8 명/ 여섯명/ 5 명/ 세사람/ 세 사람/ 8 명/ 8 명/ 2명/ 한 명/ 5 명/ 여덟사람/ 다섯 명/

### get_info_pp
- 명, 사람 키워드로 1개의 숫자 얻을 수 있으면 (val, start, end, str_found)반환
- 그 이외의 경우 그냥 재질문 np.nan 반환

In [40]:
def get_info_pp(s):
    
    list_p_r = ['(\d+)\s*'+key_pp[0],
                '([가-힣]+)\s*'+key_pp[0], 
                '([가-힣]+)\s*'+key_pp[1]]
    list_pattern = []
    
    for i in list_p_r:
        p = re.compile(i)
        list_pattern.append(p)

    for pt in list_pattern:      
        fi = pt.finditer(s)
        list_fi = list(fi)
        
        if len(list_fi) == 1:
            fi = list_fi[0]
            val_r = fi.group(1)
            
            try:
                val = int(val_r)
            except ValueError:
                if val_r in li_kor:
                    val = count_kor[val_r]
                else:
                    return
                
            start, end = fi.span()
            str_found = fi.group()
            
            return str(val), (start, end), str_found
    if ('나' in s) or ('혼자' in s):
        return '1', None, None
    return

In [41]:
for i in range(10):
    s = test_str_pp()
    print('input = ', s, '\t\t\t', 'ext = ', get_info_pp(s))
print()

input =  두명 			 ext =  ('2', (0, 2), '두명')
input =  8 명 			 ext =  ('8', (0, 3), '8 명')
input =  세 사람 			 ext =  ('3', (0, 4), '세 사람')
input =  네 사람 			 ext =  ('4', (0, 4), '네 사람')
input =  여덟명 			 ext =  ('8', (0, 3), '여덟명')
input =  2 명 			 ext =  ('2', (0, 3), '2 명')
input =  네 사람 			 ext =  ('4', (0, 4), '네 사람')
input =  8명 			 ext =  ('8', (0, 2), '8명')
input =  두사람 			 ext =  ('2', (0, 3), '두사람')
input =  일곱사람 			 ext =  ('7', (0, 4), '일곱사람')

In [42]:
s = ['강아지',
    '멍명이',
    '뭔사람',
    '  ']
for i in s:
    print('input = ', i, '\t\t\t', 'ext = ', get_info_pp(i))

input =  강아지 			 ext =  None
input =  멍명이 			 ext =  None
input =  뭔사람 			 ext =  None
input =     			 ext =  None

## 출발역과 도착역 from/to

역이름 리스트 만든다. list_station
키워드를 만든다. key_from, key_to

In [43]:
#list_station = ['용산', '행신', '광명', '천안아산', '오송'] #호남선 일부
key_from = ['에서', '출발']
key_to = ['까지', '로', '으로', '에 ', #에서와의 혼동을 피하기 위해 space를 붙임
          '가', '갈']

랜덤함수를 사용하여 test_str_from, test_str_to 작성

In [44]:
import re
import numpy as np
from numpy.random import randint as rri

### test_str_from

In [45]:
def test_str_from():
    s = list_station[rri(len(list_station))]
    if rri(2):
        s += ' '    
    if rri(2):
        s += '역'
    if rri(2):
        s += ' '
    s += key_from[rri(len(key_from))]
    return s

In [46]:
for i in range(100):
    print(test_str_from(), end = '/ ')

행신  에서/ 용산역 에서/ 용산 에서/ 용산  에서/ 용산역에서/ 행신 에서/ 오송 출발/ 오송에서/ 행신 역 출발/ 오송 출발/ 오송 출발/ 천안아산출발/ 천안아산 에서/ 행신 에서/ 천안아산 역 에서/ 천안아산  에서/ 용산 출발/ 광명역 에서/ 행신역에서/ 천안아산역 에서/ 행신 출발/ 행신 에서/ 천안아산역출발/ 광명역에서/ 천안아산 역 에서/ 오송역 출발/ 천안아산출발/ 오송출발/ 행신에서/ 행신에서/ 광명 출발/ 광명출발/ 행신역출발/ 광명  출발/ 행신  출발/ 광명 에서/ 천안아산역출발/ 행신 출발/ 행신에서/ 용산 역 에서/ 천안아산  에서/ 천안아산역 출발/ 용산 역 출발/ 광명 역에서/ 오송 역에서/ 용산 역에서/ 용산역출발/ 용산 역 에서/ 천안아산 에서/ 행신 에서/ 광명역 출발/ 행신 출발/ 오송역 출발/ 행신 출발/ 광명역 출발/ 행신 역 에서/ 용산역출발/ 천안아산  출발/ 광명 에서/ 천안아산 역출발/ 용산에서/ 용산역 출발/ 광명 출발/ 용산 역 에서/ 용산 출발/ 천안아산역에서/ 오송 역에서/ 천안아산에서/ 천안아산 출발/ 용산역출발/ 용산  에서/ 오송 출발/ 오송역 에서/ 광명에서/ 광명 에서/ 천안아산역에서/ 오송역에서/ 오송역 출발/ 용산 역에서/ 광명  출발/ 용산  에서/ 오송역 출발/ 용산역 에서/ 광명 출발/ 용산에서/ 용산  에서/ 천안아산역 출발/ 오송역출발/ 천안아산에서/ 용산  출발/ 행신 출발/ 오송 출발/ 광명 에서/ 오송역 에서/ 광명  에서/ 행신 역 에서/ 천안아산역에서/ 오송역 출발/ 용산 역 출발/ 천안아산  에서/

get_info_from/ get_info_to

리스트 키워드를 사용하여 컴파일용 문자열 담는다. list_p_r

패턴을 compile해서 각각 리스트에 담는다.  list_pattern

finditer하고 list로 변경해서 len == 1 인것을 뽑는다. list_fi

group index를 사용하여 역이름 val를 뽑는다.
val in list_station 으로 있으면 return 값은 val, start, end, str_found
                                            없으면 return 값은 np.nan

### get_info_from

In [47]:
def get_info_from(s):
    
    if s[:5] == 'again':
        result = get_info_station(s[5:])
        if result:
            return result
        s = s[5:]
        
        
    # 문장 대답
    list_p_r = [
        '([가-힣]+)\s*'+key_from[0],
        '([가-힣]+)\s*'+key_from[1],
       '([가-힣]+)\s*[역]\s*'+key_from[0],
        '([가-힣]+)\s*[역]\s*'+key_from[1]
    ]
    list_pattern = []
    for p_r in list_p_r:
        p = re.compile(p_r)
        list_pattern.append(p)
        
    for pt in list_pattern:
        fi = pt.finditer(s)
        list_fi = list(fi)
#         print('****pt = ', pt)
#         print('****list_fi = ', list_fi)
        
        if len(list_fi) == 1:
            fi = list_fi[0]
            val = fi.group(1)
#             print('****val = ', val)
            if val in list_station:
                start, end = fi.span()
                str_found = fi.group()
                return val, (start, end), str_found
    return

In [48]:
for i in range(10):
    s = test_str_from()
    print('input_str = ', s, '\t\t\t', get_info_from(s))

input_str =  천안아산 출발 			 ('천안아산', (0, 7), '천안아산 출발')
input_str =  광명 역 에서 			 ('광명', (0, 7), '광명 역 에서')
input_str =  오송 출발 			 ('오송', (0, 5), '오송 출발')
input_str =  행신역 에서 			 ('행신', (0, 6), '행신역 에서')
input_str =  광명에서 			 ('광명', (0, 4), '광명에서')
input_str =  광명 역 출발 			 ('광명', (0, 7), '광명 역 출발')
input_str =  광명역 출발 			 ('광명', (0, 6), '광명역 출발')
input_str =  오송 에서 			 ('오송', (0, 5), '오송 에서')
input_str =  광명출발 			 ('광명', (0, 4), '광명출발')
input_str =  천안아산  출발 			 ('천안아산', (0, 8), '천안아산  출발')

In [49]:
s = [
    '가아아악여여역',
    'ㅍㅍㅍ ',
    '뭔역이더라',
    '용산역에 ',
    '머시기역에서',
    '용산 역 에서'
]
for i in s:
        print('input_str = ', i, '\t\t\t', get_info_from(i))

input_str =  가아아악여여역 			 None
input_str =  ㅍㅍㅍ  			 None
input_str =  뭔역이더라 			 None
input_str =  용산역에  			 None
input_str =  머시기역에서 			 None
input_str =  용산 역 에서 			 ('용산', (0, 7), '용산 역 에서')

### test_str_to

In [50]:
def test_str_to():
    s = list_station[rri(len(list_station))]
    include_yeok = False
    first_space = False
    if rri(2):
        s += ' '  
        first_space = True
    if rri(2):
        s += '역'
        include_yeok = True
    if rri(2):
        if first_space and include_yeok == False:
            pass
        else:
            s += ' '
    tmp = key_to[rri(len(key_to))]
    if include_yeok and tmp == '로': #'OO역로' 라는 말이 되지 않게
        tmp = '으로'
    s += tmp
    return s

In [51]:
for i in range(100):
    print(test_str_to(), end = '/ ')

행신 가/ 천안아산가/ 광명 역 갈/ 광명역 으로/ 오송 역까지/ 천안아산역으로/ 광명 역가/ 광명 역가/ 오송 에 / 행신역 갈/ 행신가/ 오송 역 으로/ 오송 까지/ 천안아산까지/ 용산역에 / 천안아산 갈/ 오송역 갈/ 천안아산 역 으로/ 용산 로/ 오송역에 / 행신 갈/ 용산 역에 / 오송 에 / 천안아산역 까지/ 천안아산 갈/ 오송에 / 광명 에 / 천안아산 가/ 천안아산역 으로/ 광명 갈/ 오송 로/ 천안아산까지/ 광명역까지/ 행신 역 에 / 천안아산역가/ 천안아산 역 에 / 용산에 / 오송역 갈/ 광명로/ 오송 역 가/ 행신 로/ 용산 가/ 광명 에 / 광명 역 으로/ 오송 역 으로/ 광명역가/ 행신 으로/ 오송역 으로/ 천안아산 에 / 천안아산 으로/ 용산 으로/ 행신 역 에 / 천안아산가/ 용산 역에 / 천안아산에 / 오송 까지/ 용산 역가/ 광명 역 갈/ 광명역 가/ 오송 갈/ 광명 역으로/ 용산역 으로/ 광명 역 에 / 광명 역 까지/ 천안아산 으로/ 천안아산으로/ 오송 에 / 천안아산 역 에 / 천안아산 역 갈/ 광명 으로/ 용산 역 갈/ 행신 역까지/ 광명역 으로/ 오송역 갈/ 행신로/ 용산 가/ 천안아산 갈/ 광명갈/ 천안아산 갈/ 광명 역 까지/ 행신 역갈/ 광명역 가/ 행신 역 에 / 광명까지/ 천안아산 역으로/ 오송 가/ 광명 역 에 / 용산 로/ 용산 까지/ 광명 역 으로/ 광명역으로/ 천안아산 역에 / 오송 가/ 행신 갈/ 천안아산 로/ 천안아산 갈/ 행신역 으로/ 용산 역으로/ 오송 역으로/ 천안아산으로/

```
list_station = ['용산', '행신', '광명', '천안아산', '오송'] #호남선 일부
key_from = ['에서', '출발']
key_to = ['까지', '로', '으로', '에 ', #에서와의 혼동을 피하기 위해 space를 붙임
          '가'] 
```

get_info_from/ get_info_to

리스트 키워드를 사용하여 컴파일용 문자열 담는다. list_p_r

패턴을 compile해서 각각 리스트에 담는다.  list_pattern

finditer하고 list로 변경해서 len == 1 인것을 뽑는다. list_fi

group index를 사용하여 역이름 val를 뽑는다.
val in list_station 으로 있으면 return 값은 val, start, end, str_found
                                            없으면 return 값은 np.nan

### get_info_to

In [52]:
def get_info_to(s):
    
    if s[:5] == 'again':
        result = get_info_station(s[5:])
        if result:
            return result
        s = s[5:]
    
    list_p_r = [
        '([가-힣]+)\s*'+key_to[0],
        '([가-힣]+)\s*'+key_to[1],
        '([가-힣]+)\s*'+key_to[2],
        '([가-힣]+)\s*'+key_to[3],
        '([가-힣]+)\s*'+key_to[4],
        '([가-힣]+)\s*'+key_to[5],

        '([가-힣]+)\s*[역]\s*'+key_to[0],
        '([가-힣]+)\s*[역]\s*'+key_to[2],
        '([가-힣]+)\s*[역]\s*'+key_to[3],
        '([가-힣]+)\s*[역]\s*'+key_to[4],
        '([가-힣]+)\s*[역]\s*'+key_to[5]
    ]
    list_pattern = []
    for p_r in list_p_r:
        p = re.compile(p_r)
        list_pattern.append(p)
        
    for pt in list_pattern:
        fi = pt.finditer(s)
        list_fi = list(fi)
#         print('****pt = ', pt)
#         print('****list_fi = ', list_fi)
        
        if len(list_fi) == 1:
            fi = list_fi[0]
            val = fi.group(1)
#             print('****val = ', val)
            if val in list_station:
                start, end = fi.span()
                str_found = fi.group()
                return val, (start, end), str_found
    return

In [53]:
for i in range(10):
    s = test_str_to()
    print('input_str = ', s, '\t\t\t', get_info_to(s))

input_str =  행신역 까지 			 ('행신', (0, 6), '행신역 까지')
input_str =  천안아산역갈 			 ('천안아산', (0, 6), '천안아산역갈')
input_str =  용산 역 으로 			 ('용산', (0, 7), '용산 역 으로')
input_str =  용산 로 			 ('용산', (0, 4), '용산 로')
input_str =  오송으로 			 ('오송', (0, 4), '오송으로')
input_str =  용산갈 			 ('용산', (0, 3), '용산갈')
input_str =  광명가 			 ('광명', (0, 3), '광명가')
input_str =  행신역까지 			 ('행신', (0, 5), '행신역까지')
input_str =  천안아산 에  			 ('천안아산', (0, 7), '천안아산 에 ')
input_str =  용산역으로 			 ('용산', (0, 5), '용산역으로')

In [54]:
s = [
    '가아아악여여역',
    'ㅍㅍㅍ ',
    '뭔역이더라',
    '용산역에 ',
    '머시기역가는',
    '용산 역 에서',
    '용산 가는'
]
for i in s:
        print('input_str = ', i, '\t\t\t', get_info_to(i))

input_str =  가아아악여여역 			 None
input_str =  ㅍㅍㅍ  			 None
input_str =  뭔역이더라 			 None
input_str =  용산역에  			 ('용산', (0, 5), '용산역에 ')
input_str =  머시기역가는 			 None
input_str =  용산 역 에서 			 None
input_str =  용산 가는 			 ('용산', (0, 4), '용산 가')

### get_info_station

In [85]:
def get_info_station(s):
    if s in list_station:
        return s, None, s
    
    p = re.compile('\w+')
    fa = p.finditer(s)
    for m in fa:
        val = m.group()
        if val in list_station:
            return val, None, val
    
    p = re.compile('(\w+)\s*[역]')
    f = p.search(s)
    if f:
        val = f.group(1)
        if val in list_station:
            return val, f.span(), f.group()
    return
get_info_station('용산')

## 출발일

### test_str_date

### get_info_date

In [56]:
dic_tmrr = {'모레':2, '내일':1, '낼':1, '오늘':0}
dic_week = {'이번':0, '다음':7,'다다음':14}
dic_day = {'월':0, '화':1, '수':2, '목':3, '금':4, '토':5, '일':6}

In [57]:
from datetime import datetime, date, time, timedelta

In [58]:
def get_info_date(s): #datetime.date, start, end, str_found를 반환
    today = datetime.now().date()
    tdd = today.weekday()

    
    # 모레 -> 내일 -> return
    for k, v in dic_tmrr.items():
        p = re.compile(k)
        list_fi = list(p.finditer(s))
        if len(list_fi) == 1:
            m = list_fi[0]
            dep_date = today + timedelta(days = v)
            return dep_date.strftime('%m월 %d일'), (m.start(), m.end()), m.group()
 
    # '주'를 중심으로 week, day 얻어 dic에 있는 값이면 날짜 계산해서 return
    p = re.compile('(\w+)\s*[주]\s*(\w{1})\s*(요일|욜)')
    list_fi = list(p.finditer(s))
    if len(list_fi) == 1:
        m = list_fi[0]
        try:
            ww = dic_week[m.group(1)]
            dd = dic_day[m.group(2)]
            deltime = ww + dd - tdd
            if deltime < 0:
                return
            deltime = timedelta(deltime)
            dep_date = today + deltime
            return dep_date.strftime('%m월 %d일'), (m.start(), m.end()), m.group()
        except KeyError:
            pass
    
    # '요일'을 중심으로 day 얻어 내일요일~일요일 사이에 있으면 계산해서 return
    p = re.compile('(\w{1})\s*(요일|욜)')
    list_fi = list(p.finditer(s))
    if len(list_fi) == 1:
        m = list_fi[0]
        try:
            dd = dic_day[m.group(1)]
            if dd > tdd:
                dep_date = today + timedelta(dd-tdd)
                return dep_date.strftime('%m월 %d일'), (m.start(), m.end()), m.group()
        except KeyError:
            pass

    # 00월 00일 00/00 정규식으로 찾아보고, 날짜가 되는 숫자면 return
    list_p = [re.compile('(\d+)\s*월\s*(\d+)\s*일'), re.compile('(\d+)\s*/\s*(\d+)')]
    for p in list_p:
        list_fi = list(p.finditer(s))
        if len(list_fi) == 1:
            m = list_fi[0]
            try:
                dep_date = date(2022, int(m.group(1)), int(m.group(2)))
                return dep_date.strftime('%m월 %d일'), (m.start(), m.end()), m.group()
            except (ValueError, TypeError):
                pass
    
    return
    
get_info_date('이번주 토요m일아님  아님 아님 다다음s주수욜에 가자.')   
get_info_date('이번주 토요m일아님8 / 5 일 아님 아님 다다음s주수ㄹ욜에 가자.')

('08월 05일', (10, 15), '8 / 5')

```
광운대/ 청량리/ 회기/ 중랑/ 상봉/ 망우/ 
신내/ 갈매/ 별내/ 퇴계원/ 사릉/ 금곡/ 평내호/
천마산/ 마석/ 대성리/ 청평/ 상천/ 가평/
굴봉산/ 백양리/ 강촌/ 김유정/ 남춘천/ 춘천/ 
```

# 일단 조립

In [91]:
print()
print('*'*10 + " <승차권 예매 프로그램> " + '*'*10)
print()

tabs = '\n'+'\t'*12
input_str = input("\\\\(@'o'@)// 어떤 기차표 예매 도와드릴까요?>"+tabs)

frm = get_info_from(input_str)
to = get_info_to(input_str)
date = get_info_date(input_str)
pp = get_info_pp(input_str)

list_info = [frm, to, date, pp]
key_info = ['from', 'to', 'date', 'pp']
dic_info = {}

for i, key in enumerate(key_info):
    if list_info[i]:
        dic_info[key] = list_info[i]

ask_again = {'from':"\\\\(@'o'@)//어디에서 출발하시나요?> "+tabs, 
             'to':"\\\\(@'o'@)//어디로 가세요?> "+tabs, 
             'date':"\\\\(@'o'@)//언제 가시나요?> "+tabs,
             'pp':"\\\\(@'o'@)//몇분이서 가시나요?> "+tabs}
funcs = {'from':get_info_from, 'to':get_info_to,
         'date': get_info_date, 'pp':get_info_pp}

for key in key_info:
    while key not in dic_info:
        input_again = "again" + input(ask_again[key])
        if input_again == 'again':
            break
        s = funcs[key](input_again)

        if s:
            try:
                if (key == 'from' and s[0] == dic_info['to'][0])\
                or (key == 'to' and s[0] == dic_info['from'][0]):
                    print("****출발역과 도착역이 같아요.")
                    s = None
            except KeyError:
                pass
        if s:
            dic_info[key] = s

for k, v in dic_info.items():
    print(k, '\t',v[0])

********** <승차권 예매 프로그램> **********

\\(@'o'@)// 어떤 기차표 예매 도와드릴까요?>
												청량리갈꺼야
\\(@'o'@)//어디에서 출발하시나요?>
												춘천
\\(@'o'@)//언제 가시나요?>
												내일
\\(@'o'@)//몇분이서 가시나요?>
												4명
to 	 청량리
from 	 춘천
date 	 07월 05일
pp 	 4