# 0725

- 정규식

In [1]:
import re
from datetime import datetime

## Q32. text에서 전체문장 모두 출력하세요.

In [8]:
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('(.*\s*)+')
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

- re.compile() 의 옵션 re.DOTALL

In [9]:
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*', re.DOTALL)
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

https://docs.python.org/3/library/re.html?highlight=re%20dotall#Flags

## Q33. text에서 대소문자 구분없이 전체문장 모두 출력하세요
- text = 'Friend fRiend friEnd FRIEND'

In [12]:
text = 'Friend fRiend friEnd FRIEND'

In [13]:
for f in re.findall('[a-zA-Z]+', text):
    print(f)

Friend
fRiend
friEnd
FRIEND

- re.compile() 의 옵션 re.IGNORECASE

In [14]:
p = re.compile('[a-z]+', re.IGNORECASE)
for f in p.findall(text):
    print(f)

Friend
fRiend
friEnd
FRIEND

## Q34. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

- https://docs.python.org/ko/3/library/datetime.html#strftime-and-strptime-format-codes

In [15]:
dt = datetime.fromtimestamp(1609160537.371015)
dt

datetime.datetime(2020, 12, 28, 22, 2, 17, 371015)

In [16]:
dt.strftime('%a %b %d %H:%M:%S %Y')

'Mon Dec 28 22:02:17 2020'

In [17]:
dt.strftime('%c')

'Mon Dec 28 22:02:17 2020'

In [23]:
import time
timestring=time.ctime(1609160537.371015)
timestring, type(timestring)

('Mon Dec 28 22:02:17 2020', str)

## Q35. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [18]:
now = datetime.now()
now.strftime('%a %b %d %H:%M:%S %Y')

'Tue Jul 26 09:15:19 2022'

In [19]:
now.strftime('%c')

'Tue Jul 26 09:15:19 2022'

In [24]:
t = time.time()

In [25]:
t

1658794842.6454797

In [ ]:
datatime

# 0726

## Q36. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [4]:
from datetime import datetime

In [5]:
now = datetime.now()
now

datetime.datetime(2022, 7, 27, 9, 18, 36, 68831)

In [6]:
print(now.strftime('%Y-%m-%d %H:%M:%S'))

2022-07-27 09:18:36

## Q37. 현재 시간을 time.time을 불러와서 년-월-일 시:분:초로 출력하세요.

In [7]:
import time
now = time.time()
now

1658881116.958165

In [8]:
dt = datetime.fromtimestamp(now)
dt

datetime.datetime(2022, 7, 27, 9, 18, 36, 958165)

In [9]:
print(dt.strftime('%Y-%m-%d %H:%M:%S'))

2022-07-27 09:18:36

## Q38. 올해 경과된 날짜수 계산하세요 1/1 ~ 현재까지

In [10]:
from datetime import timedelta

In [11]:
now = datetime.now()

In [12]:
td = now - datetime(2022, 1, 1)

In [13]:
td

datetime.timedelta(days=207, seconds=33518, microseconds=648884)

In [14]:
print(td.days, '일차')

207 일차

## Q39. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [15]:
from datetime import datetime

In [16]:
dt = datetime.now()
dt

datetime.datetime(2022, 7, 27, 9, 19, 5, 702497)

In [17]:
weekday = ['월', '화', '수', '목', '금', '토', '일']
weekday

['월', '화', '수', '목', '금', '토', '일']

In [18]:
print(f'{dt.year}-{dt.month}-{dt.day} 오늘은 {weekday[dt.weekday()]}요일 입니다.')

2022-7-27 오늘은 수요일 입니다.

## Q40. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.

In [21]:
sum_ = 0

%time for i in range(1, 10**6+1): sum_ += i

CPU times: total: 125 ms
Wall time: 122 ms

In [22]:
from timeit import default_timer as timer

start = timer()

sum_ = 0
for i in range(1, 10**6+1): 
    sum_ += i

end = timer()

print("걸린 시간 : ", round((end - start)*10**3), 'ms')  # seconds

걸린 시간 :  119 ms

In [23]:
f"{end-start:.5f}sec"

'0.11885sec'

In [24]:
%time sum(range(1, 10**6+1))

CPU times: total: 46.9 ms
Wall time: 40.5 ms

500000500000

# 0727

## Q41. 아래 코드를 보완하여 발생 가능한 모든 예외(정수, 인덱스, 미리 파악하지 못한 예외)를 처리한 후 마지막에  '모든 예외처리 완료'를 출력하세요.

In [18]:
list_num = [52,273,32,72,100]

num_input = int(input('정수 입력> '))
print(f'{num_input}번째 요소: {list_num[num_input-1]}')

정수 입력> 2
2번째 요소: 273

In [19]:
list_num = [52, 273, 32, 72, 100]
input_num = input("정수 입력>")

#==== 정수를 입력하기 전까진 못 나간다. ====#
while True:
    try:
        input_num = int(input_num)
        break;
    except ValueError:
        print("정수를 입력해 주세요.")
        input_num = input("정수 입력>")

try:
    print(f'{input_num}번째 요소: {list_num[input_num-1]}')
except IndexError:
    print('인덱스를 벗어났습니다.')

정수 입력>6591
인덱스를 벗어났습니다.

In [20]:
list_num = [52, 273, 32, 72, 100]
input_num = input("정수 입력>")

while True:
    try:
        input_num = int(input_num)
        print(f'{input_num}번째 요소: {list_num[input_num-1]}')
        break;
    except ValueError:
        print("정수를 입력해 주세요.\n")
        input_num = input("정수 입력>")
    except IndexError:
        print(f'인덱스를 벗어났습니다. {1}이상 {len(list_num)}이하의 값을 입력해주세요.\n')
        input_num = input("정수 입력>")

정수 입력>yfuy
정수를 입력해 주세요.

정수 입력>5664
인덱스를 벗어났습니다. 1이상 5이하의 값을 입력해주세요.

정수 입력>4
4번째 요소: 72

## Q42. 기본가격 1000원인 2개의 상품에 대하여 임의의 추가 가격을 입력시 가격 조정한 결과를 반환하는 Price 클래스를 생성 후 객체를 만들어 price1, price2를 수행하세요. 
- price1 : 기본가격 + 추가가격
- price2 : (기본가격 + 추가가격) * 90%

In [21]:
class ModifyPrice:
    oPrice = 1000
    def price1(self, priceAdded):
        return self.oPrice + priceAdded
    def price2(self, priceAdded):
        return round((self.oPrice + priceAdded)*0.9)

In [22]:
m = ModifyPrice()

In [23]:
m.oPrice

1000

In [24]:
m.price1(100)

1100

In [25]:
m.price2(200)

1080

## Q43. strings를 문자의 크기 순서로 내림차순 정렬하세요

In [38]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key=lambda e:len(e), reverse=True)
strings

['ababa', 'aaaa', 'bar', 'ca', 'a']

In [39]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key=len, reverse=True) # key 자체가 function을 넣는 것.
print(strings)

['ababa', 'aaaa', 'bar', 'ca', 'a']

## Q44. strings를 다양한 문자가 포함된 순서로 정렬하세요

In [29]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(set(x)), reverse=True)
strings

['card', 'bar', 'foo', 'abab', 'aaaa']

## Q45. 'abcde' 를 'edcba'로 바꾸어 출력하세요.(5가지 방법)

- indexing

In [30]:
string = 'abcde'
string[::-1]

'edcba'

 - sort

In [31]:
string = 'abcde'
string = list(string)
string.sort(reverse=True)
string = "".join(string)
string

'edcba'

-  sorted

In [32]:
string = 'abcde'
string = list(string)
string = sorted(string, reverse=True)
string = "".join(string)
string

'edcba'

- reverse

In [33]:
string = 'abcde'
string = list(string)
string.reverse()
string = "".join(string)
string

'edcba'

- reversed

In [34]:
string = 'abcde'
string = list(string)
string = reversed(string)
string = "".join(string)
string

'edcba'

# 0728

## Q46. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [17]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [18]:
set_num = set(numbers)

In [19]:
set_num

{2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
for num in set_num:
    count = numbers.count(num)
    print(f'{num} 는  {count} 개')

2 는  2 개
3 는  4 개
4 는  2 개
5 는  2 개
6 는  2 개
7 는  2 개
8 는  2 개
9 는  2 개

## Q47. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요

In [21]:
li = []
for i in range(0,20,2):
    li.append(i*i)
print(li)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [22]:
print(list(map(lambda x : x**2, list(range(0, 20, 2)))))

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

## Q48. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [23]:
def factorial(n):
    if n < 0:
        return None
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

In [24]:
factorial(5), factorial(10)

(120, 3628800)

## Q49. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 작성하고 1!, 5!, 10!를 구하세요.
factorial(n) = n * factorial(n-1) (n >= 1)

In [25]:
def factorialRec(n):
    if n < 0:
        return None
    if (n == 1) or (n == 0):
        return 1
    return n*factorialRec(n - 1)

In [26]:
factorialRec(1), factorialRec(5), factorialRec(10)

(1, 120, 3628800)

## Q50. list a의 모든 원소를 실수형으로 바꾸어 출력하세요
a = [1,2,3,4,5]

In [27]:
a = [1,2,3,4,5]

In [28]:
print(a)

[1.0, 2.0, 3.0, 4.0, 5.0]

### 예약어 사용시 처리

In [29]:
list = [0, 1, 2]

In [31]:
del list

In [32]:
list([0, 1, 2, 3])

[0, 1, 2, 3]

# 0729

## Q31. 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.
```
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

```

In [1]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [3]:
import re

In [10]:
def form(word):
    word = word.strip()
    word = re.sub('[^\s*\w*]+', "", word) # 특수기호 삭제
    word = re.sub('\s+', " ", word) # 공백 문자는 space 1칸으로
    word = word.title()
    return word
form(states[5])

'South Carolina'

In [7]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [8]:
def form(word):
    word = word.strip()
    word = re.sub('[#!?]+', "", word) # 특수기호 삭제
#     word = re.sub('\s+', " ", word) # 공백 문자는 space 1칸으로
    word = word.title()
    return word
form(states[5])

'South   Carolina'

In [9]:
list(map(form, states))

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

## Q51. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램

In [10]:
def get_num_of_pages(total_post, per_page):
    if total_post%per_page == 0:
        return total_post//per_page
    else:
        return total_post//per_page + 1

In [11]:
def get_nn_by_keybrd(inputMsg):
    num = None
    while type(num) !=  int:
        num = input(inputMsg)
        try:
            num = int(num)
        except ValueError:
            print("자연수를 입력하세요.")
    return num

In [12]:
total_post = get_nn_by_keybrd("총 게시물 수 입력>")
per_page = get_nn_by_keybrd("페이지 당 게시물 수 입력>")
num_page = get_num_of_pages(total_post, per_page)
print(f"총 페이지 수는 {num_page}입니다.")

총 게시물 수 입력>53
페이지 당 게시물 수 입력>10
총 페이지 수는 6입니다.

## Q52. 랜덤하게 1000명의 이름, 키와 몸무게 만들어 저장한 후 다시 불러내어 다음과 같이 출력하세요.

- 이름 :라바
- 몸무게: 80
- 키: 146
- BMI: 37.53049352598987
- 결과: 과체중

In [60]:
# https://ko.wikipedia.org/wiki/대한민국의_인구순_성씨_목록
familyNm = """
1	김(金)	10,689,959	1	9,925,949	1	8,785,341
2	이(李)	7,306,828	2	6,794,637	2	5,985,056
3	박(朴)	4,192,074	3	3,895,121	3	3,435,858
4	최(崔)	2,333,927	4	2,169,704	4	1,913,329
5	정(鄭)	2,151,879	5	2,010,117	5	1,780,734
6	강(姜)	1,176,847	6	1,044,386	6	958,181
7	조(趙)	1,055,567	7	984,913	7	877,058
8	윤(尹)	1,020,547	8	948,600	8	834,121
9	장(張)	992,721	9	919,339	9	810,235
10	임(林)	823,921	10	762,767	10	672,782
11	한(韓)	773,404	12	704,365	11	628,396
12	오(吳)	763,281	11	706,908	13	619,774
13	서(徐)	751,704	14	693,954	14	611,206
14	신(申)	741,081	13	698,171	12	620,983
15	권(權)	705,941	15	652,495	15	567,990
16	황(黃)	697,171	16	644,294	16	564,292
17	안(安)	685,639	17	637,786	18	556,429
18	송(宋)	683,494	18	634,345	17	557,193
19	전(全)	559,110	21	493,419	21	430,059
20	홍(洪)	558,853	20	518,635	20	457,583
21	유(柳)*	478,990	19	603,084	19	509,127
22	고(高)	471,396	22	435,839	22	384,061
23	문(文)	464,040	23	426,927	23	375,866
24	양(梁)	460,600	25	389,152	25	344,209
25	손(孫)	457,303	24	415,182	24	368,744
26	배(裵)	400,641	26	372,064	26	323,031
27	조(曺)	398,260	27	362,817	28	304,837
28	백(白)	381,986	28	351,275	27	309,578
29	허(許)	326,770	29	300,448	29	264,238
30	유(劉)	302,511	32	242,889	32	218,449
31	남(南)	275,648	30	257,178	30	222,269
32	심(沈)	271,749	31	252,255	31	219,741
33	노(盧)	256,229	33	220,354	33	196,285
34	정(丁)	243,803	36	187,975	36	165,382
35	하(河)	230,481	34	209,756	34	184,651
36	곽(郭)	203,188	37	187,322	38	163,433
37	성(成)	199,124	38	184,555	37	163,565
38	차(車)	194,782	39	180,589	39	159,680
39	주(朱)	194,766	43	176,232	42	153,508
40	우(禹)	194,713	42	176,682	41	155,471
41	구(具)	193,080	41	178,167	40	157,683
42	신(辛)	192,877	46	167,621	47	137,874
43	임(任)	191,261	44	172,726	44	147,700
44	전(田)	186,469	35	188,354	45	146,664
45	민(閔)	171,740	47	159,054	46	141,429
46	유(兪)	167,927	40	178,209	35	168,082
47	류(柳)*	163,703				
48	나(羅)*	160,946	45	172,022	43	150,012
49	진(陳)	157,599	48	142,496	49	123,092
50	지(池)	153,491	49	140,824	48	125,648
51	엄(嚴)	144,425	50	132,990	50	116,039
52	채(蔡)	131,557	52	114,069	52	97,650
53	원(元)	129,522	51	119,356	51	104,535
54	천(千)	121,780	54	103,811	53	97,419
55	방(方)	94,831	58	81,710	55	81,469
56	공(孔)	91,869	56	83,164	56	72,388
57	강(康)	91,625	53	109,925	58	69,820
58	현(玄)	88,824	57	81,807	57	72,164
59	함(咸)	80,659	60	75,955	59	65,193
60	변(卞)	78,156	59	78,685	60	64,147
61	염(廉)	69,387	62	63,951	61	54,533
62	양(楊)	69,101	55	93,416	54	81,589
63	변(邊)	60,633	65	52,869	63	50,380
"""

import re

familyNm = re.findall('[가-힣]+', familyNm)
familyNm = list(set(familyNm))

for fn in familyNm: print(fn, end=" ")

배 임 권 윤 허 함 조 박 안 민 홍 신 장 김 변 엄 이 차 나 원 천 채 노 방 진 공 문 정 백 심 전 우 서 현 구 남 지 한 고 염 송 황 류 성 손 강 곽 하 주 오 양 유 최

In [61]:
# https://zetawiki.com/wiki/시대별_흔한_이름
givenNm = """
영자	순자	영숙	미경	미영	지영	지혜	유진	서연	서연	서연	서연
2	정자	영자	정숙	미숙	은정	은정	지은	민지	민서	민서	민서	서윤
3	순자	정순	영희	경희	은주	미영	수진	수빈	서현	지민	서현	지우
4	춘자	정숙	명숙	경숙	은영	현정	혜진	지원	수빈	서현	지우	서현
5	경자	영숙	경숙	영숙	현주	은주	은지	지현	유진	서윤	서윤	민서
6	옥자	영순	순자	미영	은경	은영	지영	지은	민지	예은	지민	윤서
7	명자	정자	정희	영미	지영	현주	아름	현지	서영	하은	수빈	채원
8	숙자	영희	순옥	정희	미경	선영	지현	은지	지원	지우	하은	하윤
9	정순	정희	영순	정숙	현정	지연	지연	예진	수민	수빈	예은	지아
10	화자	옥순	현숙	현숙	미정	혜진	보람	예지	예원	윤서	윤서	은서
1	영수	영수	영수	성호	정훈	정훈	지훈	동현	민준	민준	민준	민준
2	영호	영호	영철	영수	성호	성훈	성민	지훈	현우	지훈	지후	서준
3	영식	영식	영호	영호	성훈	상훈	현우	성민	동현	현우	지훈	주원
4	정웅	영철	영식	영철	성진	성진	정훈	현우	준혁	준서	준서	예준
5	영길	정수	성수	정호	정호	지훈	동현	준호	민재	우진	현우	시우
6	영일	종수	성호	영진	상훈	성호	준영	민석	도현	건우	예준	준서
7	정수	정식	상철	병철	성민	정호	민수	민수	지훈	예준	건우	도윤
8	정남	정호	종수	진호	영진	준호	준호	준혁	준영	현준	현준	현우
9	광수	영환	경수	성수	상현	성민	상현	준영	현준	도현	민재	건우
10	중수	광수	상호	재호	준호	민수	진우	승현	승민	동현	우진	지훈
"""

givenNm = re.findall('[가-힣]+', givenNm)
givenNm = list(set(givenNm))
for gn in givenNm: print(gn, end=" ")

은경 영길 수빈 예진 민서 시우 수민 영미 서윤 화자 예은 순옥 영일 선영 준영 영진 서준 민석 영자 경자 영환 미숙 서현 성민 지원 옥순 종수 지연 동현 준혁 우진 민재 재호 영순 지영 민지 정식 정남 은주 명자 정훈 주원 미정 예지 하윤 현우 성수 정자 혜진 지우 도현 옥자 수진 예원 숙자 채원 춘자 미경 도윤 상현 민수 경수 정수 현지 중수 현정 순자 병철 아름 진호 준서 지민 지아 미영 영희 지훈 성진 예준 영철 정웅 현준 경숙 성호 승민 유진 상철 승현 지현 영식 지은 하은 은정 영호 상호 민준 진우 광수 준호 현주 서연 은영 성훈 영숙 은지 명숙 보람 은서 정순 정숙 지후 상훈 지혜 영수 정희 건우 윤서 현숙 경희 서영 정호

In [62]:
import numpy as np
import pandas as pd
from numpy.random import randint

In [63]:
fnNum = len(familyNm) 
gnNum = len(givenNm)
fnNum, gnNum

(53, 120)

In [74]:
familyName = pd.Series(randint(fnNum, size=1000))
familyName = familyName.apply(lambda x : familyNm[x])
givenName = pd.Series(randint(gnNum, size=1000))
givenName = givenName.apply(lambda x : givenNm[x])

Names = familyName + givenName
weight = pd.Series(randint(40, 100, size=1000))
height = pd.Series(randint(140, 190, size=1000))
BMI = (weight/(height/100)**2).round(1)

BMIcat =pd.cut(x = BMI, #데이터 배열
                         bins=[0, 18.5, 23, 25, 30, 55], # 경계값 리스트
                         labels=['저체중', '정상', '과체중', '비만', '고도비만'], #bin 이름
                         include_lowest=True) #첫 경계값 포함

df = pd.concat([Names, height, weight, BMI, BMIcat], axis=1)
df.columns = ['이름', '키', '몸무게', 'BMI', '결과']
df.head()

    이름    키  몸무게   BMI    결과
0  황광수  157   70  28.4    비만
1  주상훈  182   44  13.3   저체중
2  고옥자  152   75  32.5  고도비만
3  조영일  187   84  24.0   과체중
4  임민서  167   57  20.4    정상

In [75]:
for col in df.columns:
    print(col, ':', df.loc[idx, col])

이름 : 조영일
키 : 187
몸무게 : 84
BMI : 24.0
결과 : 과체중

- 모든 한글 하려다가 궭 뒑뷁 이런게 많아서 안함

In [41]:
def nextKorLetterFrom(letter):
    lastLetterInt = 15572643

    if not letter:
        return '가'

    a = letter
    b = a.encode('utf8')
    c = int(b.hex(), 16)

    if c == lastLetterInt:
        return False

    d = hex(c + 1)
    e = bytearray.fromhex(d[2:])

    flag = True
    while flag:
        try:
            r = e.decode('utf-8')
            flag = False
        except UnicodeDecodeError:
            c = c + 1
            d = hex(c)
            e = bytearray.fromhex(d[2:])

    return e.decode()
def all_letters_to_txt():

    flag = True
    k = ''

    while flag:
        k = nextKorLetterFrom(k)
        if k is False:
            flag = False
        with open('output.txt', 'a') as out:
            out.write(k + '\n')
# 출처: https://gafani.tistory.com/entry/python3