In [48]:
import pandas as pd
import numpy as np
import math

In [30]:
df = pd.read_pickle('./customerP30.pkl')
df.head()

   cusno  gender  age  region  product_  amount_2020  amount_2021     ratio
0      0       0   60       0        30        659.0        215.0 -0.673748
2      1       0   50       2        30        182.0        968.0  4.318681
4      2       0   50       1        30        560.0          0.0 -1.000000
5      3       0   40       0        30       1343.0       1419.0  0.056590
7      4       0   40       1        30        660.0       1275.0  0.931818

In [31]:
df1 = df.copy()

In [50]:
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gender       972 non-null    int64
 1   age          972 non-null    int64
 2   region       972 non-null    int64
 3   product_     972 non-null    int64
 4   amount_2020  972 non-null    float64
 5   amount_2021  972 non-null    float64
 6   ratio        972 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 60.8 KB

       gender  age  region  product_  amount_2020  amount_2021     ratio
cusno
0           0   60       0        30        659.0        215.0 -0.673748
1           0   50       2        30        182.0        968.0  4.318681
2           0   50       1        30        560.0          0.0 -1.000000
3           0   40       0        30       1343.0       1419.0  0.056590
4           0   40       1        30        660.0       1275.0  0.931818

In [34]:
df1.set_index('cusno', inplace=True)

In [51]:
df1.head()

       gender  age  region  product_  amount_2020  amount_2021     ratio
cusno
0           0   60       0        30        659.0        215.0 -0.673748
1           0   50       2        30        182.0        968.0  4.318681
2           0   50       1        30        560.0          0.0 -1.000000
3           0   40       0        30       1343.0       1419.0  0.056590
4           0   40       1        30        660.0       1275.0  0.931818

In [55]:
df1.info()
df1.replace(np.inf, np.nan, inplace = True)
df1.dropna(inplace = True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gender       972 non-null    int64
 1   age          972 non-null    int64
 2   region       972 non-null    int64
 3   product_     972 non-null    int64
 4   amount_2020  972 non-null    float64
 5   amount_2021  972 non-null    float64
 6   ratio        821 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 60.8 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 821 entries, 0 to 998
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gender       821 non-null    int64
 1   age          821 non-null    int64
 2   region       821 non-null    int64
 3   product_     821 non-null    int64
 4   amount_2020  821 non-null    float64
 5   amount_2021  821 non-null    float64
 6   ratio        821 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 51.3 KB

In [56]:
X = df1.drop(['ratio', 'product_', 'amount_2021', 'ratio'], axis = 1)
X.head()

       gender  age  region  amount_2020
cusno
0           0   60       0        659.0
1           0   50       2        182.0
2           0   50       1        560.0
3           0   40       0       1343.0
4           0   40       1        660.0

In [57]:
y = df1['ratio']
y.head()

cusno
0   -0.673748
1    4.318681
2   -1.000000
3    0.056590
4    0.931818
Name: ratio, dtype: float64

In [58]:
# train data 와 test data로 구분 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,               #독립 변수 
                                                    y,               #종속 변수
                                                    test_size=0.2,   #검증 30%
                                                    random_state=10) #랜덤 추출 값

In [59]:
X_train.info()
X_train.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 656 entries, 584 to 319
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gender       656 non-null    int64
 1   age          656 non-null    int64
 2   region       656 non-null    int64
 3   amount_2020  656 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 25.6 KB

       gender  age  region  amount_2020
cusno
584         1   50       0       1921.0
99          0   40       0       2770.0
13          0   20       0       1171.0
103         0   50       0        706.0
357         1   40       1       1196.0

In [60]:
y_train.info()
y_train.head()

<class 'pandas.core.series.Series'>
Int64Index: 656 entries, 584 to 319
Series name: ratio
Non-Null Count  Dtype
--------------  -----
656 non-null    float64
dtypes: float64(1)
memory usage: 10.2 KB

cusno
584   -0.667881
99    -0.900361
13    -1.000000
103   -1.000000
357   -0.041806
Name: ratio, dtype: float64

In [61]:
X_test.info()
X_test.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165 entries, 230 to 126
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gender       165 non-null    int64
 1   age          165 non-null    int64
 2   region       165 non-null    int64
 3   amount_2020  165 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB

       gender  age  region  amount_2020
cusno
230         0   30       1        172.0
735         1   50       0       2655.0
294         0   40       2       3562.0
500         1   50       2        893.0
448         1   50       1          4.0

In [136]:
y_test.info()
y_test.head()

<class 'pandas.core.series.Series'>
Int64Index: 165 entries, 230 to 126
Series name: ratio
Non-Null Count  Dtype
--------------  -----
165 non-null    float64
dtypes: float64(1)
memory usage: 6.6 KB

cusno
230      6.558140
735     -0.759322
294     -0.547445
500     -1.000000
448    456.750000
Name: ratio, dtype: float64

In [63]:
# 단순회귀분석 모형 생성 및 평가
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [64]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [65]:
y_preds = lr.predict(X_test)

In [66]:
mse = mean_squared_error(y_test,y_preds)
rmse = np.sqrt(mse)

In [67]:
r2 = r2_score(y_test,y_preds)

In [68]:
print('MSE:{0:.4f}, RMSE:{1:.4f}, R2:{2:.4f}'.format(mse,rmse,r2))

MSE:1720.8970, RMSE:41.4837, R2:0.0249

In [112]:
y_test, type(y_test) # Series

(cusno
 230      6.558140
 735     -0.759322
 294     -0.547445
 500     -1.000000
 448    456.750000
           ...
 370      0.258488
 710      1.161151
 220     18.526316
 233     -1.000000
 126     -1.000000
 Name: ratio, Length: 165, dtype: float64,
 pandas.core.series.Series)

In [113]:
y_preds = pd.Series(y_preds)
y_preds, type(y_preds)

(0      10.009536
 1      -4.875744
 2     -16.721203
 3       0.721715
 4       9.352772
          ...
 160    12.221611
 161     2.941175
 162    11.693023
 163     4.403205
 164    -1.869646
 Length: 165, dtype: float64,
 pandas.core.series.Series)

In [114]:
cusno = pd.Series(y_test.index)
cusno, type(cusno)

(0      230
 1      735
 2      294
 3      500
 4      448
       ...
 160    370
 161    710
 162    220
 163    233
 164    126
 Name: cusno, Length: 165, dtype: int64,
 pandas.core.series.Series)

In [115]:
df2 = pd.concat([cusno, y_preds], axis = 1)
df2.head()

   cusno          0
0    230  10.009536
1    735  -4.875744
2    294 -16.721203
3    500   0.721715
4    448   9.352772

In [116]:
df2.set_index('cusno', inplace=True)
df2.head()

               0
cusno
230    10.009536
735    -4.875744
294   -16.721203
500     0.721715
448     9.352772

In [117]:
df2.rename({0:'y_pred'}, inplace=True, axis=1)
df2.head()

          y_pred
cusno
230    10.009536
735    -4.875744
294   -16.721203
500     0.721715
448     9.352772

In [118]:
y_test.head(), type(y_test)

(cusno
 230      6.558140
 735     -0.759322
 294     -0.547445
 500     -1.000000
 448    456.750000
 Name: ratio, dtype: float64,
 pandas.core.series.Series)

In [124]:
df3 = df2.copy()

In [125]:
df3['y_test'] = y_test

-  ratio는 +1.0 : 100% 증가, -1.0 : 100% 감소

In [126]:
df3

          y_pred      y_test
cusno
230    10.009536    6.558140
735    -4.875744   -0.759322
294   -16.721203   -0.547445
500     0.721715   -1.000000
448     9.352772  456.750000
...          ...         ...
370    12.221611    0.258488
710     2.941175    1.161151
220    11.693023   18.526316
233     4.403205   -1.000000
126    -1.869646   -1.000000

[165 rows x 2 columns]

In [128]:
df4 = df3.y_pred*df3.y_test
df4.count()

165

In [137]:
df4.head()

cusno
230      65.643936
735       3.702260
294       9.153943
500      -0.721715
448    4271.878439
dtype: float64

In [138]:
df5 = df4.where(df4 < 0, 0.0)
df5.head()

cusno
230    0.000000
735    0.000000
294    0.000000
500   -0.721715
448    0.000000
dtype: float64

- 증가 또는 감소의 경향이 일치하지 않는 예측 결과의 비율 확인

In [147]:
df5.value_counts()[0] # 값이 0인 애들(= 경향자체는 맞는 애들이 93명)

93

In [149]:
# 165명에서 93명이 맞았다묜...
round(93/165*100, 1), '퍼센트가 경향은 맞아요~'

(56.4, '퍼센트가 경향은 맞아요~')